@import "../../style.scss";

.main {
  padding: 20px;
  background-color: #12002b;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 2rem;
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  padding: 2rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .sign-in-icon {
    font-size: 5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
  }

  form {
    .input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      input {
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .input-remember {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      input {
        margin-right: 0.5rem;
      }

      label {
        margin: 0;
        font-size: 0.9rem;
        color: #2c3e50;
      }
    }

    .sign-in-button {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      background-color: #00bc77;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken(#00bc77, 10%);
      }
    }
  }
}


