@import "../../style.scss";

.error {
  min-height: 610px;
  width: 100%;
  @media (max-width: 920px) {
    min-height: 680px;
  }
  @media (min-width: 1900px) {
    min-height: 820px;
  }
  .green-error {
    width: 40%;
  }
  .text-error {    
    font-size: 20px;
    margin: 0;
  }
  .button-404 {
    align-items: center;
    background-color: #00bc77;
    border-color: #00bc77;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 12.5rem;
    padding: 0.8rem;
  }
}
